@use 'base/variables' as v;
@use 'base/mixins' as m;

.video{
    position: relative;
    min-height: 50rem;
    max-height: 70rem;
    overflow: hidden;
    
    .overlay{
        position: absolute;
        inset: 0;
        background: linear-gradient(
            270deg,
            rgba(v.$morado, 60%),
            rgba(darken(v.$morado, 20%), 90%) 
        );

        display: flex;
        align-items: center;


    }

    video{
      width: auto;
      display: block;
        

        @include m.desktop{
            width: 100%;
        }
    }
}

.contenido-video{
    z-index: 10;

    h2{
        margin: 0;
        color: v.$blanco;
        font-size: 7rem;
    }

    p{
        display: inline-block;
        padding: 1rem 2rem;
        color: v.$blanco;
        font-size: 2.4rem;
        font: 700px;
        margin: 2rem 0 0 0;
        background-color: v.$rosa;
    }
}